body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc;
  color: #333;
}
header,
footer {
  background-color: #d6a675;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.logo {
  margin: 0 auto;
  display: block;
  height: 100px;
  width: 62.5px;
}
.small-logo {
  height: 40px;
  width: 25px;
  margin-right: auto;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  margin: 20px;
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.description {
  font-size: 1.2em;
  text-align: justify;
}
section {
  flex: 1 1 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}
section img {
  width: 50%; /* Adjust the size as needed */
  height: auto;
}
